.connect-with-us {
  background-color: #2B6BB2;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:767px) {
  .connect-with-us {
    height: 8vh;
  }
}

@media screen and (min-width:1024px) {
  .connect-with-us {
    height: 10vh;
  }
}

@media screen and (min-width:1439px) {
  .connect-with-us {
    height: 14vh;
  }
}
