.arrow {
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}

@media screen and (min-width:425px) {
  .arrow {
    width: calc(15px + 1vw);
    height: calc(15px + 1vw);
  }
}

@media screen and (min-width:768px) {
  .arrow {
    width: calc(20px + 1vw);
    height: calc(20px + 1vw);
  }
}

@media screen and (width:1440px) {
  .arrow {
    width: 67px;
    height: 67px;
  }
}

@media screen and (min-width:1441px) {
  .arrow {
    width: 67px;
    height: 67px;
  }
}
