.header__menu-item {
  font-size: 6px;
  line-height: 7px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.header__menu-item:last-of-type {
  padding: 2px 5px;
  border-radius: 100px;
  background: #fff;
  color: #2B6BB2;
  font-weight: 500;
}

@media screen and (min-width:425px) {
  .header__menu-item {
    font-size: calc(6px + 1vw);
    line-height: calc(7px + 1vw);
  }
}

@media screen and (width:1440px) {
  .header__menu-item {
    font-size: 21px;
    line-height: 24px;
  }
}

@media screen and (min-width:1441px) {
  .header__menu-item {
    font-size: calc(21px + 0.5vw);
    line-height: calc(24px + 1vw);
  }
}
