.arrow_down {
  background-image: url(../../../images/chevrons-down.svg);

  margin-bottom: 10px;
}

@media screen and (min-width:425px) {
  .arrow_down {
    margin-bottom: calc(11px + 1vw);
  }
}

@media screen and (min-width:768px) {
  .arrow_down {
    margin-bottom: 14px;
  }
}

@media screen and (width:1440px) {
  .arrow_down {
    margin-bottom: 20px;
  }
}

@media screen and (min-width:1441px) {
  .arrow_down {
    margin-bottom: 20px;
  }
}
