.footer__soc-networks-list {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 28px;
  list-style-type: none;

}

@media screen and (max-width:340px) {
  .footer__soc-networks-list {
    grid-template-columns: repeat(2, max-content);
  }
}
