.header {
  background-color: #2B6BB2;
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'GT Eesti Pro Display', Arial, Helvetica, sans-serif;

}

/* @media screen and (min-width:1439px) {
  .header {
    height: 162px;
  }
} */
