.header {
  background-color: #2B6BB2;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'GT Eesti Pro Display', Arial, Helvetica, sans-serif;

}

@media screen and (min-width:767px) {
  .header {
    height: 8vh;
  }
}

@media screen and (min-width:1024px) {
  .header {
    height: 10vh;
  }
}

@media screen and (min-width:1439px) {
  .header {
    height: 13vh;
  }
}
