.serravalle__left-text-right {
  font-style: normal;
  font-weight: 500;
  font-size: 65px;
  line-height: 18px;
  /* or 28% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: lowercase;

  color: #FFFFFF;
}
