.momin__content-hotels {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  /* or 100% */
  z-index: 20;
  text-align: center;
  width: 100%;
  margin: 0;
  color: #FFFFFF;
}

@media screen and (min-width:425px) {
  .momin__content-hotels {
    font-size: calc(10px + 0.5vw);
    line-height: calc(10px + 0.5vw);
    margin-bottom: calc(8px + 0.5vw);
  }
}

@media screen and (min-width:768px) {
  .momin__content-hotels {
    font-size: calc(12px + 1vw);
    line-height: calc(12px + 1vw);
    margin-bottom: calc(15px + 1vw);
  }
}

@media screen and (width:1440px) {
  .momin__content-hotels {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width:1441px) {
  .momin__content-hotels {
    font-size: calc(40px + 0.5vw);
    line-height: calc(46px + 0.5vw);
    margin-bottom: 30px;
  }
}
