.momin-in-red__content-title {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;

  color: #FFFFFF;
  margin: 0;
  padding: 3px 16px;
  margin: 0 0 18px;
  width: max-content;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
}

@media screen and (min-width:425px) {
  .momin-in-red__content-title {
    font-size: calc(10px + 0.5vw);
    line-height: calc(12px + 0.5vw);
    margin-bottom: calc(8px + 0.5vw);
    padding: calc(3px + 0.5vw) calc(16px + 0.5vw);
  }
}

@media screen and (min-width:768px) {
  .momin-in-red__content-title {
    font-size: calc(17px + 1vw);
    line-height: calc(20px + 1vw);
    margin-bottom: calc(12px + 0.5vw);
    padding: calc(3px + 1vw) calc(16px + 1vw);
  }
}

@media screen and (width:1440px) {
  .momin-in-red__content-title {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 68px;
    padding: 10px 80px;
  }
}

@media screen and (min-width:1441px) {
  .momin-in-red__content-title {
    font-size: calc(35px + 0.5vw);
    line-height: calc(41px + 0.5vw);
    margin-bottom: 68px;
    padding: 10px 80px;
  }
}
