.momin-in-red__content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: center;

  color: #FFFFFF;
  margin: 0;
  padding: 3px 16px;
  width: max-content;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
}
