.momin__content-grid-date {
  font-style: normal;
  font-weight: 700;
  font-size: 7px;
  line-height: 8px;
  /* or 100% */

  text-align: center;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 2px 11px;
  margin: 0;
  margin-bottom: 4px;
  background-color: #fff;
  border-radius: 100px;
  color: #2B6BB2;
}

@media screen and (min-width:425px) {
  .momin__content-grid-date {
    font-size: calc(7px + 0.5vw);
    line-height: calc(8px + 0.5vw);
    margin-bottom: calc(5px + 0.5vw);
    padding: calc(2px + 0.5vw) calc(11px + 0.5vw);
  }
}

@media screen and (min-width:768px) {
  .momin__content-grid-date {
    font-size: calc(15px + 1vw);
    line-height: calc(17px + 1vw);
  }
}

@media screen and (width:1440px) {
  .momin__content-grid-date {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 17px;
    padding: 8px 36px;
  }
}

@media screen and (min-width:1441px) {
  .momin__content-grid-date {
    font-size: calc(25px + 0.5vw);
    line-height: calc(29px + 0.5vw);
    margin-bottom: 20px;
  }
}
