.momin__section-text-bottom {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
}
