.serravalle__center-text {
  font-style: normal;
  font-weight: 300;
  font-size: 6px;
  line-height: 6px;
  /* or 100% */
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}

.serravalle__center-text:last-of-type {
  margin-bottom: 45px;
}


@media screen and (min-width:425px) {
  .serravalle__center-text {
    font-size: calc(6px + 0.5vw);
    line-height: calc(6px + 0.5vw);
  }
  .serravalle__center-text:last-of-type {
    margin-bottom: 45px;
  }
}

@media screen and (min-width:768px) {
  .serravalle__center-text {
    font-size: calc(12px + 0.5vw);
    line-height: calc(12px + 0.5vw);
  }
  .serravalle__center-text:last-of-type {
    margin-bottom: 70px;
  }
}

@media screen and (width:1440px) {
  .serravalle__center-text {
    font-size: 20px;
    line-height: 20px;
  }
  .serravalle__center-text:last-of-type {
    margin-bottom: 110px;
  }
}

@media screen and (min-width:1441px) {
  .serravalle__center-text {
    font-size: calc(20px + 0.5vw);
    line-height: calc(20px + 0.5vw);
  }
  .serravalle__center-text:last-of-type {
    margin-bottom: calc(110px + 1vw);
  }
}
