.connect-with-us__link {
  color: #2B6BB2;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding: 3px 16px;
  margin: 0 6px;
  background-color: #fff;
  border-radius: 100px;
}

@media screen and (min-width:425px) {
  .connect-with-us__link {
    font-size: calc(10px + 0.5vw);
    line-height: calc(12px + 0.5vw);
    margin: 0 calc(8px + 0.5vw);
    padding: calc(3px + 0.5vw) calc(16px + 0.5vw);
  }
}

@media screen and (min-width:768px) {
  .connect-with-us__link {
    font-size: calc(17px + 1vw);
    line-height: calc(20px + 1vw);
    margin: 0 calc(12px + 0.5vw);
    padding: calc(3px + 0.5vw) calc(16px + 0.5vw);
  }
}

@media screen and (width:1440px) {
  .connect-with-us__link {
    font-size: 50px;
    line-height: 58px;
    margin: 0 25px;
    padding: 6px 36px;
  }
}

@media screen and (min-width:1441px) {
  .connect-with-us__link {
    font-size: 50px;
    line-height: 58px;
    margin: 0 25px;
    padding: 6px 36px;
  }
}
