.momin-in-red__content-grid-text {
  font-style: normal;
  font-weight: 350;
  font-size: 8px;
  line-height: 8px;
  /* or 100% */

  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  color: #FFFFFF;
  margin: 0;
  /* width: min-content; */
}
