.momin__content-title-top {
  font-style: normal;
  font-weight: 250;
  font-size: 20px;
  line-height: 35%;
  /* or 7px */
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width:425px) {
  .momin__content-title-top {
    font-size: calc(20px + 0.5vw);
    line-height: calc(20px + 0.5vw);
    margin-bottom: 11px;
  }
}

@media screen and (min-width:768px) {
  .momin__content-title-top {
    font-size: calc(30px + 1vw);
    line-height: calc(30px + 1vw);
    margin-bottom: 14px;
  }
}

@media screen and (width:1440px) {
  .momin__content-title-top {
    font-size: 70px;
    line-height: 81px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width:1441px) {
  .momin__content-title-top {
    font-size: calc(70px + 0.5vw);
    line-height: calc(81px + 0.5vw);
    margin-bottom: 20px;
  }
}
