.momin__content-title-top {
  font-style: normal;
  font-weight: 250;
  font-size: 20px;
  line-height: 35%;
  /* or 7px */
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #FFFFFF;
}
