.serravalle__left-text-paragraph-bold {
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 7px;
  /* or 100% */
  color: #FFFFFF;
  margin: 0;
}

@media screen and (min-width:425px) {
  .serravalle__left-text-paragraph-bold {
    font-size: calc(7px + 0.5vw);
    line-height: calc(7px + 0.5vw);
  }
}

@media screen and (min-width:768px) {
  .serravalle__left-text-paragraph-bold {
    font-size: calc(8px + 0.5vw);
    line-height: calc(8px + 0.5vw);
  }
}

@media screen and (width:1366px) {
  .serravalle__left-text-paragraph-bold {
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (min-width:1367px) {
  .serravalle__left-text-paragraph-bold {
    font-size: 20px;
    line-height: 20px;
  }
}
