.serravalle__left-text-paragraph {
  font-style: normal;
  font-weight: 350;
  font-size: 6px;
  line-height: 6px;
  /* or 100% */
  color: #FFFFFF;
  margin: 0;
}

@media screen and (min-width:425px) {
  .serravalle__left-text-paragraph {
    font-size: calc(6px + 0.5vw);
    line-height: calc(6px + 0.5vw);
  }
}

@media screen and (min-width:768px) {
  .serravalle__left-text-paragraph {
    font-size: calc(8px + 0.5vw);
    line-height: calc(8px + 0.5vw);
  }
}

@media screen and (width:1440px) {
  .serravalle__left-text-paragraph {
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (min-width:1441px) {
  .serravalle__left-text-paragraph {
    font-size: 20px;
    line-height: 20px;
  }
}
